# Check at list 20 method in list, tuples, dictionaries and give an example writing a python code

# Lists:

# 1. Append(): Adds an element to the end of the list.
Find Example below:

In [2]:
Numbers = [1, 2, 3]

#To include number 4
Numbers.append(4)

print(Numbers)

[1, 2, 3, 4]

# 2. remove(): Removes the first occurrence of a specified element
Find Example below:

In [3]:
Names = ['Bola', 'Zainab', 'Dorcas', 'Bukola']

#To remove zainab
Names.remove('Zainab')

print(Names)

['Bola', 'Dorcas', 'Bukola']

# 3. Extend(): Appends the elements of another list to the end of the current list.
Find Example below:

In [7]:
list_One = [10, 20, 30]
list_Two = [40, 50, 60]

#To join list one and two
list_One.extend(list_Two)

print(list_One)

[10, 20, 30, 40, 50, 60]

# 4. Pop():Removes and returns the element at the specified index.
Find Example below:

In [13]:
States = ['Lagos', 'Oyo', 'Osun', 'Plateau', 'Benue']

#To remove and return Benue
popped_element = States.pop(4)

print(States)      
print(popped_element)

['Lagos', 'Oyo', 'Osun', 'Plateau']
Benue

# 5. Index():Returns the index of the first occurrence of a specified element
Find Example below:

In [15]:
Numbers = [1, 2, 3, 4, 2]

#To return the index of 4, that is,the single number that occurs before
index = Numbers.index(4)

print(index)

3

# 6. Sort() method sorts the list ascending by default.
Find Example Below:

In [6]:
Universities = ['Unilag', 'Funaab', 'Bowen']

#To sort universities alphabetically
Universities.sort()

print(Universities)

['Bowen', 'Funaab', 'Unilag']

# 7. Insert()	Adds an element at the specified position
Find Example below:

In [7]:
fruits = ['berries', 'mango', 'apples']

#To sort add orange to the list
fruits.insert(1, "orange")

print(fruits)

['berries', 'orange', 'mango', 'apples']

# 8. copy()	Returns a copy of the list
Find Example below:

In [11]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry', 'orange']

# 9. clear()	Removes all the elements from the list
Find Example below:

In [14]:
assets = ['houses', 'cars', 'chairs', 'Tables']

assets.clear()

print(assets)

[]

# 10. Count():Returns the number of occurrences of a specified element
Find Example below:

In [17]:
groceries = ['rice', 'yam', 'pepper' 'beans']

#To count the number of times rice ocuurs in the list
x = groceries.count("rice")

print(x)

1

# Tuples:

# 1. Count():Returns the number of occurrences of a specified element
Find Example below:

In [18]:
my_tuple = (1, 2, 3, 2, 4, 5, 7, 8, 1, 4, 6, 1)

#Count the number of time 1 occurs
count = my_tuple.count(1)
print(count)

3

# 2. Index():Returns the index of the first occurrence of a specified element
Find Example below:

In [23]:
my_tuple = (1, 2, 3, 2, 4)

index = my_tuple.index(2)
print(index)

1

# Dictionaries:

# 1. Keys(): Returns a view of all the keys in the dictionary
Find Example below:

In [24]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

all_keys = my_dict.keys()
print(all_keys)

dict_keys(['a', 'b', 'c'])

# 2. Get():Returns the value for a specified key. If the key is not found, it returns a default value (or None).
Find Example below:

In [25]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

value = my_dict.get('b')
print(value)

2

# 3. Items():Returns a view of all key-value pairs in the dictionary.
Find Example below:

In [28]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

all_items = my_dict.items()
print(all_items)

dict_items([('a', 1), ('b', 2), ('c', 3)])

# 4. Values():Returns a view of all the values in the dictionary.
Find Example below:

In [2]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

all_values = my_dict.values()
print(all_values)

dict_values([1, 2, 3])

# 5. Items(): Returns a view of all key-value pairs in the dictionary.
Find Example below:

In [3]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

all_items = my_dict.items()
print(all_items)

dict_items([('a', 1), ('b', 2), ('c', 3)])

# 6. Popitem():Removes and returns the last key-value pair as a tuple.
Find Example below:

In [4]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

removed_item = my_dict.popitem()
print(my_dict)       
print(removed_item)

{'a': 1, 'b': 2}
('c', 3)

# 7. Clear():Removes all items from the dictionary.
Find Example below:

In [5]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

my_dict.clear()
print(my_dict)

{}

# 8. pop():Removes and returns the value for a specified key
Find Example below:

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

removed_value = my_dict.pop('b')

print(my_dict)       
print(removed_value)

{'a': 1, 'c': 3}
2